<div class="container footer">
  <h1 class="margintb30">My offers</h1>

  <% if @all_my_user_flats.empty? %>
      <p>You don't have any flat yet</p>
      <%=link_to "Create a new offer", new_flat_path %>
      <%=link_to "See all flat offers", flats_path %>
  <% else  %>
      <% @all_my_user_flats.each do |flat| %>
        <div ><i class="fas fa-bicycle"></i>  </span><%=link_to flat.name, flat_path(flat.id) %></div>
          <% if flat.bookings == [] %>
              <p>No booking request</p>
          <% else  %>
              <% n = 0  %>
              <% flat.bookings.each do |booking| %>
                  <% n += 1  %>
                  <div> Booking request n°<%= n %> | <strong>From <%= booking.start_date %> to <%= booking.end_date %></strong> by <%= booking.user.pseudo  %></span>
                  <% if booking.accepted.nil? %>
                  <div>
                      <%=link_to accepted_booking_path(booking), method: :patch do %>
                        <button type="button">Accept</button>
                      <% end %>

                      <%=link_to declined_booking_path(booking), method: :patch do %>
                        <button type="button">Decline</button>
                      <% end %>
                  </div>
                  <% elsif  booking.accepted == true %>
                    <span class="booking-accepted">Booking accepted</span>
                  <% elsif booking.accepted == false %>
                    <span class="booking-declined">Booking declined</span>
                  <% end  %>
                  </div>
              <% end %>
          <% end %>
        </div>
      <% end  %>
  <%end %>
  <%= link_to "Create offer", new_flat_path %>
</div>