<ul>
  <% @flats.each do |flat| %>
    <li><%= link_to flat.name, flat_path(flat) %></li>
    <li><%= flat.address  %></li>
    <li><%= flat.stars %></li>
  <% end %>
</ul>

<%= link_to 'Add a Flat', new_flat_path(@flat)  %>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>