<p><%= @flat.name %></p>
<p><%= @flat.address %></p>
<p><%= @flat.stars %></p>
<p><%= pluralize @flat.reviews.size, "review" %></p>
<p>  <% if @flat.reviews.blank? %>
    Be the first to leave a review for <%= @flat.name %>
  <% else %>
    <% @flat.reviews.each do |review| %>
      <span id="review-<%= review.id %>"><%= review.content %></span>
            <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    <% end %>
  <% end %>
  </p>

<button id="sweet-alert-demo" >Delete <%= @flat.name %></button>
<%= link_to "", flat_path(@flat), method: :delete, id: "delete-link", class: "hidden" %>
<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %> |
<%= link_to 'Leave a review', new_flat_review_path(@flat) %>