<div class="container mt-5">
  <h3 class="text-center">Mes réservations</h3>
  <div>
    <% if @bookings.empty? %>
      <p>Pas de réservations</p>
      <%= link_to flats_path do %>
        <button class="btn btn-principal">Chercher un appart</button>
      <% end %>
    <% else %>
      <% @bookings.each do |booking| %>
      <div class="card-post shadow mt-5"> 
          <div class="card-post-info">
            <h5><%= booking.flat.address %></h5>
              <div class="card-service-text">
                <p>Du <%= booking.start_date.strftime('%e/%m/%Y')%></p>
                <p>au <%= booking.end_date.strftime('%e/%m/%Y')%></p>
              </div>
              <div>
                <%= link_to 'Voir',  booking_path(booking.id), class: "btn btn-principal" %>
                <%= link_to "Annuler", booking_path(booking),method: :delete,data: { confirm: "Are you sure?" }, class:'btn btn-principal'%>
              </div>
            </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>