<div class="container mt-5">
  <h2 class="text-center">Ma réservation</h2>
  <div class="card ">
    <div class="card-body shadow"> 
      <div class="card-header">
      <h4> <%= @flat.address %></h4>
      <h5>Réservé :</h5>
      <h5>Du <%= @booking.start_date.strftime('%e %B %Y')%></h5>
      <h5>Au <%= @booking.end_date.strftime('%e %B %Y')%></h5>
      </div>
      <div class="card-footer">
        <h2 class="text-center">Laissez une évaluation</h2>
        <div class="list-group list-group-flush">
        <%= simple_form_for [@booking, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, as: :hidden  %>
          <div class="my-3">
          <% 5.times do |index| %>
            <i id="<%= index + 1 %>" class="review-rating far fa-star"></i>
          <% end %>
          <div></div>
          <%= f.submit class: "btn btn-primary mt-3", value: "Valider" %>
        <% end %>
        </div>
      </div>
      <div class="card-link">
        <%= link_to "Toutes mes réservation", bookings_path,  class: "btn btn-principal"%>
      </div>
    </div>
  </div>
</div>